:root {
  --primary-grey: #5b5b5b;
  --primary-blue: #0a0b66;
  --primary-red: #f83030;
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.text-blue {
  color: var(--primary-blue);
}

.text-grey {
  color: var(--primary-grey);
}

.text-red {
  color: var(--primary-red)
}

/* banner */
#banner .carousel-item {
  
}

#banner h1 {
  font-family: "Open Sans", cursive;
  font-weight: 400;
  font-size: 40px;
  text-shadow: 1px 1px var(--primary-grey);
}

#banner h4 {
  font-family: "Open Sans", cursive;
  font-weight: 900;
  font-size: 70px;
  text-shadow: 1px 1px var(--primary-grey);
}

#requestform h1 {
  font-size: 30px;
}

#requestform sub {
  font-family: "Open Sans", cursive;
  font-size: 16px;
}

#requestform h4 {
  font-size: 20px;
  margin-top: 2rem;
}

#requestform label {
  font-size: 14px;
  font-weight: 900;
  display: block;
  margin-top: 10px;
}

#requestform input[type="text"] {
  font-size: 16px;
  color: var(--primary-grey);
  border: solid 1px black;
  border-radius: 3px;
  height: 36px;
  margin: 5px;
  padding: 5px;
  width: 100%;
  margin-bottom: 1rem;
}

#requestform input[type="submit"] {
  color: white;
  background-color: var(--primary-blue);
  border: none;
  border-radius: 18px;
  width: 100%;
  height: 36px;
  margin-top: 2rem;
}

/* Logo Motion */

#motion-logo {
  offset-path: path("M0,0 C0,0 1000,0 2000,0");
  animation: move 3000ms infinite alternate ease-in-out;
  width: 48px;
  height: 48px;
  background: url('/images/favicon.ico');
  margin-top: 25%;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
